
     <!-- PROJECT -->








     <section class="project section-padding" id="search">
          <div class="container-fluid">
               <div class="row">

                    <div class="col-lg-12 col-12">

                        <h2 class="mb-5 text-center" data-aos="fade-up">
                            Busca por <strong><%= params[:search] %></strong>
                            <% if @professionals.count.blank? %>
                                 não encontrou registros
                            <% elsif @professionals.count == 1 %>
                                 retornou <strong>um</strong> registro
                            <% else %>
                                 retornou <strong><%= @professionals.count %></strong> registros
                            <% end %>
                        </h2>


                         <div class="owl-carousel owl-theme" id="project-slide">

                              <% @professionals.each do |professional| %>
                                   <%= link_to "#" do %>
                                   <div class="item project-wrapper" data-aos="fade-up">
                                        <div class="avatar-container text-center mx-auto">
                                             <div class="card-up aqua-gradient"></div>
                                             <!-- Avatar -->
                                             <div class="avatar mx-auto white">
                                                  <%= image_tag(professional.avatar, class: "rounded-circle img-responsive bg-white p-2 image-container", alt: professional.name) %>
                                             </div>
                                             <!-- Content -->
                                             <div class="card-body">
                                             <h4 class="card-title"><%= professional.name %></h4>
                                             <hr>
                                             <p><%= professional.description %></p>
                                             </div>
                                        </div>
                                   </div>
                                   <% end %>
                              <% end %>

                         </div>
                    </div>

               </div>
          </div>
     </section>

