<div class="nested-fields">
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>
  <%= f.label :description %><br>
  <%= f.text_field :description %><br>

  <%= link_to_remove_association("Remover experiência", f) %>
</div>