<div class="nested-fields py-2">
  <%= f.label :title %><br>
  <%= f.text_field :title, class: "form-control" %><br>
  <%= f.label :description %><br>
  <%= f.text_area :description, class: "form-control" %>
  <span class="tip"><%= link_to_remove_association(f, class: "tip text-right")  %></span>
</div>