<div class="container">
  <div class="row m-5">
    <div class="col-12 text-center p-3">
      <h2><%= t('messages.edit', model: @professional.model_name.human) %></h2>
    </div>

    <div class="col-12 offset-md-3 col-md-6">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "clients/shared/error_messages", resource: resource %>

        <div class="field py-2">
          <strong>Identificação</strong>
        </div>

        <div class="field py-2">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
        </div>

        <div class="field py-2">
          <%= f.label :birth_date %><br />
          <%= f.date_field :birth_date, autofocus: true, autocomplete: "birth_date", class: "form-control" %>
        </div>


        <div class="field py-2">
          <%= f.label :description %><br />
          <%= f.text_area :description, autofocus: true, autocomplete: "description", class: "form-control" %>
        </div>

        <div class="field py-2">
          <%= f.label :avatar %><br />
          <%= f.text_field :avatar, autofocus: true, autocomplete: "avatar", class: "form-control" %>
        </div>

        <div class="field py-2">
          <strong>Dados para contato</strong>
        </div>

        <div class="field py-2">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field py-2">
          <%= f.label :mobile %><br />
          <%= f.phone_field :mobile, autofocus: true, autocomplete: "mobile", class: "form-control" %>
        </div>

        <div class="field py-2">
          <%= f.check_box :whatsapp, autofocus: true %> <%= f.label :whatsapp %>
        </div>

        <div class="field py-2">
          <%= f.label :linkedin %><br />
          <%= f.text_field :linkedin, autofocus: true, autocomplete: "linkedin", class: "form-control" %>
        </div>

        <div class="field py-2">
          <%= f.label :github %><br />
          <%= f.text_field :github, autofocus: true, autocomplete: "github", class: "form-control" %>
        </div>

        <div class="field py-2">
          <%= f.label :website %><br />
          <%= f.text_field :website, autofocus: true, autocomplete: "website", class: "form-control" %>
        </div>

        <div class="field py-2">
          <strong>Vínculo com o IFRS</strong>
        </div>

        <div class="field py-2">
          <%= f.label :course %><br />
          <%= f.collection_select(:course_id, Course.all, :id, :name_with_campus, {}, {class: "form-control"}) %>
        </div>

        <div class="field py-2">
          <%= f.label :semester %><br />
          <%= f.select(:semester, @semester.keys, {}, {class: "form-control"}) %>
        </div>

        <div class="field py-2">
          <strong>Disponibilidade</strong>
        </div>

        <div class="field py-2">
          <%= f.label :work_shift %><br />
          <%= f.select(:work_shift, @work_shift.keys, {}, {class: "form-control"}) %>
        </div>

        <div class="field py-2">
          <%= f.label :type_of_work %><br />
          <%= f.select(:type_of_work, @type_of_work.keys, {}, {class: "form-control"}) %>
        </div>

        <div class="field py-2">
          <strong>Habilidades e Experiências</strong>
        </div>

        <div class="field py-2">
          <%= f.label :language %><br />
          <%= f.collection_check_boxes(:language_ids, Language.all, :id, :name, {}, {class: "form-control"}) %>
        </div>




        <div class="field py-2">
          <strong>Segurança</strong>
        </div>

        <div class="field py-2">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          <span class="tip"><%= t("messages.blank_password") %></span>
        </div>

        <div class="field py-2">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

    <div class="actions py-2 text-center">
      <%= f.submit t('messages.edit_button'), class: "btn my-btn px-5 py-3 my-3" %>
    </div>
    <% end %>
    <hr>
    <p><span class="tip">Você quer cancelar sua conta? <%= link_to "Clique aqui para encerrar.", registration_path(resource_name), data: { confirm: t('messages.confirm') }, method: :delete %></span></p>

  </div>
</div>
</div>
