<div class="container">
  <div class="row m-5">
    <div class="col-12 text-center p-3">
      <h2><%= t('messages.sign_in', model: @client.model_name.human) %></h2>
    </div>

    <div class="col-12 offset-md-3 col-md-6">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field py-2">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="field py-2">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field py-2">
            <%= f.check_box :remember_me %>
            <%= t('messages.remember_me') %>
          </div>
        <% end %>

        <div class="actions py-2 text-center">
          <%= f.submit t('messages.sign_in_button'), class: "btn my-btn px-5 py-3 my-3" %>
        </div>

      <% end %>

      <%= render "clients/shared/links" %>

    </div>
  </div>
</div>
