<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Ifreelas</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
   <body>
   
    <!-- MENU BAR -->
    <nav class="navbar sticky-top navbar-expand-lg">
        <div class="container">
            <%= link_to root_path, class: "navbar-brand" do %>
              <%= image_tag "logo_ifreelas.png" %>
              <h1 class="hidden">Ifreelas</h1>
            <% end %>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#search" class="nav-link smoothScroll">Busca</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link smoothScroll">Quem Somos</a>
                    </li>

                    <% if client_signed_in? || professional_signed_in? %>
                      <li class="nav-item dropdown">

                       <a class="nav-link login dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="avatar"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
                          <%= first_name(current_client || current_professional) %>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <%= link_to('Meus dados', edit_client_registration_path || edit_professional_registration_path, class: "dropdown-item")%>
                          <%= link_to('Sair', destroy_client_session_path || destroy_professional_session_path, method: :delete, class: "dropdown-item") %>
                        </div>
                        
                      </li>
                    <% else %>
                      <li class="nav-item">
                          <button type="button" class="nav-link login" data-toggle="modal" data-target="#login">
                            Login
                          </button>
                      </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </nav>




    <!-- Modal de Login -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="LoginModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-3">
          <div class="modal-body">
            <div class="row">
              <div class="col-6 text-center">
                Se você é estudante dos cursos de tecnologia do IFRS, faça o
              </div>
              <div class="col-6 text-center">
                Se você está buscando candidatos para a sua empresa, faça o
              </div>
              <div class="col-6 text-center my-3">
                <%= link_to "Login de Profissional", new_professional_session_path, class: "btn my-btn py-3 size-fixed" %>
              </div>
              <div class="col-6 text-center my-3">
                <%= link_to "Login de Cliente", new_client_session_path, class: "btn my-btn py-3 mx-2 size-fixed" %>
              </div>
              <div class="col-6">

              Primeiro acesso?<br>Faça o seu <%= link_to "cadastro de profissional", new_professional_registration_path, class: "link" %>.
              </div>
              <div class="col-6">
              Primeiro acesso?<br>Faça o seu <%= link_to "cadastro de cliente", new_client_registration_path, class: "link" %>.
              </div>
          </div>

 
          </div>
        </div>
      </div>
    </div>

    <%= yield %>

    <footer class="site-footer">
      <div class="container">
        <div class="row">

          <div class="text-center col-12" data-aos="fade-up" data-aos-delay="400">
            <p class="copyright-text">Desenvolvido por <a href="https://github.com/psantunes/">Antonio Paulo Serpa Antunes</a> em Ruby On Rails. Inspirado em layout da 
            <a rel="nofollow noopener" href="https://templatemo.com/tm-538-digital-trend">TemplateMo</a>.</p>
          </div>

        </div>
      </div>
    </footer>

    <% unless flash.empty? %>
    <script type="text/javascript">
        <% flash.each do |f| %>
      <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
      toastr['<%= type %>']('<%= f[1] %>');
    <% end %>
    </script>
    <% end %>

  </body>
</html>
