<div class="container">
  <div class="row m-5">
    <div class="col-12 text-center p-3">
      <h2><%= t('messages.change_pass', model: @client.model_name.human) %></h2>
    </div>

    <div class="col-12 offset-md-3 col-md-6">

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "clients/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field py-2">
          <%= f.label :password %>
         <% if @minimum_password_length %>
          <span class="tip">(<%= t('messages.characters_minimum')%>: <%= @minimum_password_length %>)</span>
          <% end %><br />
          <%= f.password_field :password, autofocus: true, class: "form-control" %>
        </div>

        <div class="field py-2">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>

        <div class="actions py-2 text-center">
            <%= f.submit t('messages.change_pass_button'), class: "btn my-btn px-5 py-3 my-3" %>
        </div>
      <% end %>

      <%= render "clients/shared/links" %>

  </div>
</div>
</div>
